.clearboth{
	clear:both;
}
.option-item {
    margin: 10px 0;
}
.option-item label {
    float: left;
    width: 100px;
}
.option-item input[type="text"], .option-item textarea, .option-item select {
	width:100%;
	max-width: 450px;
}
.option-item a {
	text-decoration:none;
}

.post-type-tasks .column-title{
	width:200px;
}

#toplevel_page_wp-user-avatar, #wpua-thumbnail-existing, p#wpua-preview-existing span, #wpua-undo-button-existing{
	display:none!important;
}
p#wpua-preview-existing img {
    border-radius: 100%;
}