body{
    font-size: 14px;
}
.spinner-submit {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position:relative;
	display:inline-block;
    border: 2px solid #eeeeee;
    border-top-color: #e41717;
    -webkit-animation: loadingSubmit 1s infinite;
    animation: loadingSubmit 1s infinite;
}

@-webkit-keyframes loadingSubmit {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.error{
	border:1px solid red!Important;
}

.notifyjs-container {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    z-index: 999999999;
}
.notifyjs-corner {
    margin-right: 100px!important;
	margin-bottom:50px!important;
}
.error_mes {
    background-color: #e41717;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
	line-height: 32px;
    height: 32px;
	text-align:left;
	margin: 0 0 10px;
	padding-left: 10px;
	transition: all .75s ease-in;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
	
	opacity:0;
	transform: translateX(-100%);
	position:absolute;
	pointer-events: none;
}
.error_mes.show{
	opacity:1;
	transform: translateX(0%);
	position:relative;
	pointer-events:all;
	cursor:pointer;
}

.content_err{
	width:calc(100% - 30px);
	display: inline-block;
}
span.dis_err {
    cursor: pointer;
}
ul.nav.navbar-right.panel_toolbox {
    min-width: auto;
}
.edittext:focus {
    border: 1px solid #73879C!important;
}
.edittext {
    border: 1px solid transparent!important;
	resize: none;
	padding:0;
	background:none;
	max-width: 100%;
}
.page-template-employees .profile_details .profile_view .img-circle {
    border: 1px solid #E6E9ED;
    padding: 2px;
    width: 103px;
    height: 103px;
}

.hr_wrap_avata{ cursor:pointer;}
#userfile{ display:none;}
label.hr_wrap_avata img {
    width: 200px;
    height: 200px;
}
.img-circle.profile_img {
    width: 56px!Important;
    height: 56px!Important;
}
.hr-no-event{ 
	pointer-events: none;
}
a.click_paid_css i {
    font-size: 18px;
}
a.click_paid_css .fa-money {
	color:red;
}
a.click_paid_css .fa-check-circle {
	color:green;
}

/* menu */
.role-administrator .hr-menu-overview, .role-administrator .hr-menu-task{
	display:none!important;
}
.role-author .hr-menu-overview, .role-author .hr-menu-calendar,.role-author .hr-menu-employees,.role-administrator .hr-menu-profile, .role-editor .hr-menu-profile, .role-editor .hr-menu-task{
	display:none!important;
}

a.delete_service {
    color: red!important;
    font-size: 18px;
}
table .align-center{ 
	text-align:center;
}
a.add_service {
    color: green!important;
    font-size: 18px;
}

.td-no-padding td {
    padding: 0!important;
	vertical-align: middle!important;
}
.td-no-padding td a {
	padding:10px;
}
.td-no-padding .edittext {
    padding: 10px;
	width: 100%;
}

tfoot.td-no-padding input{ 
	margin:0; vertical-align: middle!important;
}
.disallow-employee{ 
	pointer-events: none;
}
table.sub-table-accounting td:last-child {
    width: 80px;
}

.profile_details .spinner-submit{
	width:20px;
	height:20px;
}

.disallow-delete-user a.delete_user {
    display: none!important;
}
.wrap-modal-button {
    width: 100%;
    text-align: center;
}
.edittext-selected{
	appearance: none;
	-webkit-appearance: none;
    -moz-appearance: none;
}
#user_address_meta{overflow:hidden}
.profile_details ul li:first-child {
    height: 60px;
    overflow: hidden;
}

.form-control {
    height: 40px;
    font-size: 15px;
}
.login_form {
    text-align: center;
}
.login_form .form-control {
    font-size: 24px;
}
.add_task_form .input-group,.update_task_form .input-group{
    width:100%
}
.add_task_form .button_form{
    text-align: center;
    margin-top: 20px;
}
.menu-main-menu-container {
    margin-top: 15px;
}
footer{
	background:none!important;
}


/* ============= REsponsive =============== */
@media only screen and ( max-width: 1199px){

}

@media only screen and ( max-width: 991px){

}

@media only screen and (max-width: 767px) {
    .tile_count .tile_stats_count:before {
        border-left: 0;
    }

    #datatable-responsive,table.jambo_table{
        border: 0;
    }
    #datatable-responsive table{
        width: auto;
        float: right;
    }
    #datatable-responsive thead,table.jambo_table thead{
        display: none;
    }
    #datatable-responsive tr,table.jambo_table tr{
        margin-bottom: 15px;
        display: inline-block;
        width: 100%;
    }
    #datatable-responsive td,table.jambo_table td{
        text-align: right;
        display: inline-block;
        width: 100%;
    }
    #datatable-responsive td:after,table.jambo_table td:after{
        float: left;
        content: attr(data-title);
        font-weight: 600;
    }
    #datatable-responsive.table-add-service td:after{
        padding: 10px;
    }
    #datatable-responsive td .edittext {
        width: auto;
        border: 0;
    }
    table.jambo_table tr{
        margin-bottom:0;
    }
}
@media only screen and (max-width: 479px) {

}
